
.carousel {
  background-color: #0d1121;
}

.project-card {
  padding-bottom: 30px;
}
.project-header {
  position: relative;
  font-size: 30px;
  text-align: left;
  z-index: 2;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
#open-container {
  height: fit-content;
  line-height: 0;
  border-radius: 1px;
  cursor: pointer;
  width: 20px;
  margin-left: 10px;
  margin-top: -5px;
  &:hover {
    transform: scale(1.1);
  }
}


.project-header a{
  text-decoration: none;
  color: white;
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
}

#github-container {
  margin-right: 10px;
  &:hover {
    transform: scale(1.2);
  }
}

#github-logo {
  height: 30px;
  width: auto;
  cursor: pointer;
  display: block;  
}

.body-project-space {
  display: flex;
  color: white;
  line-height: 1.5;
  font-weight: 300;
}

.image-project-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.project-description {
  width: 70%;
  text-align: left;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.project-description li {
  margin: 0px 20px 0px 0px;
}

.image-project-container img {
  width: 85%;
  height: auto;
  max-height: 400px;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
  }
}

.highlights {
  display: flex;
  margin: 10px 0 10px -20px; 
  font-weight: 200;
}

.slide-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 0 10px 0px 10px;
  margin: 5px 0;
  font-size: 1em;
  font-weight: 300;
}
.small-screen {
  display: none;
}

.tech-item {
  padding: 3px 10px;
  font-size: 14px;
  background-color: #036BDF;
  color: white;
  margin: 5px 5px 5px 0;
  border-radius: 20px;
}

.thumbs {
  justify-content: center;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
  cursor: pointer;
} 

@media screen and (max-width:770px) {
  .project-header {
    font-size: 20px;
    padding: 10px 20px;
  }
  .small-screen {
    display: flex;
  }
  .big-screen {
    display: none;
  }

  #open-container {
    width: 10px;
    margin-left: 3px;
    margin-top: -3px;
  }
  #github-logo {
    height: 20px;
  }
  .body-project-space {
    flex-direction: column;
  }
  .image-project-container {
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }
  .project-description {
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
  }
  .project-description li {
    margin: 3px 0;
  }
  .image-project-container img {
    width: 95%;
  }
  .tech-item {
    font-size: 11px;
    padding: 2px 5px;
  }
}

@media screen and (max-width:770px) {
  .tech-item {
    font-size: 10px;
    padding: 1px 3px;
  }


}